  <h2>{{ object }}</h2>

  <div class="detail">
    {% include 'touglates/detail_field.html' with label=person_labels.meetingtype field=object.meetingtype %}
    {% include 'touglates/detail_field.html' with label=person_labels.when_held field=object.when_held %}
    {% include 'touglates/detail_field.html' with label=person_labels.had_quorum field=object.had_quorum %}
    <h3>Attendees</h3>
    {% for attendance in meeting.attendance_set.all %}
      {% include 'touglates/detail_fields.html' with label="Attendee" field_1=attendance.person field_2="quorum:"|add:attendance.person.membershipclass.get_is_quorum_member_yesno %}
    {% endfor %}

  </div>

  <script>

  </script>
