{% extends './_base.html' %}
{% load static %}
{% block content %}
{% include './person_menu.html' %}

<div id = "div_search_form">
  <table>
    <form id="frm_filter" method="POST">
      {% csrf_token %}
      {{ filter.form.as_table }}
      {{ csv_form.as_table }}
      {{ filterstore_save.as_table }}
      <tr>
        <td>Search </td>
        <td>
          <button type="submit" >Search</button>
        </td>
      </tr>
    </form>
    <form method="POST" action="{% url 'sdc_people:person-list' %}">
      {% csrf_token %}
      {{ filterstore_retrieve.as_table }}
      <tr>
        <td>Retrieve Saved Filter </td>
        <td>
          <button type="submit" >Retrieve</button>
        </td>
      </tr>
    </form>
  </table>
</div>
<div>
  <a id="a_showhideSearchForm" href="#"></a>
</div>
<script>
  function showhideSearchForm() {
    var div_searchForm = document.getElementById("div_search_form")
    if(div_searchForm.style.display=="none") {
      div_searchForm.style.display="block"
      a_showhideSearchForm.innerText="Hide Search Form"
    } else {
      div_searchForm.style.display="none"
      a_showhideSearchForm.innerText="Show Search Form"
    }
  }
  var a_showhideSearchForm = document.getElementById("a_showhideSearchForm")
  a_showhideSearchForm.addEventListener("click", function(e) {
    e.preventDefault()
    showhideSearchForm()
  })
  showhideSearchForm()
</script>
<div class="list">
      <div class="row rowhead">
        {% include 'touglates/list_head.html' with field='' %}
        {% if 'name' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Name" %}
        {% endif %}
        {% if 'membershipclass' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="membership class" %}
        {% endif %}
        {% if 'address' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Address (voting / mailing)" %}
        {% endif %}
        {% if 'localdistricts' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="local districts<br>(prec,boro)" %}
        {% endif %}
        {% if 'statedistricts' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="state districts<br>(hod,ssen,usc)"|safe %}
        {% endif %}
        {% if 'p  hones' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Phones(voice,txt)" %}
        {% endif %}
        {% if 'primary_email' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="email" %}
        {% endif %}
        {% if 'memberships' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Memberships" %}
        {% endif %}
        {% if 'attendance' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Attendance" %}
        {% endif %}

      </div>

      {% for person in filter.qs %}
        <div class="row">
          <div class="list-field field column">
            <div><a href="{% url 'sdc_people:person-detail' person.pk %}">view</a></div>
            <div><a href="{% url 'sdc_people:person-update' person.pk %}">edit</a></div>
          </div>
          {% if 'name' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.name_formal|add:"("|add:person.name_friendly|add:")" %}
          {% endif %}
          {% if 'membershipclass' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.membershipclass %}
          {% endif %}
          {% if 'address' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.voting_address field_2=person.mailing_address  before_fields="<div>" between_fields="</div><div>"  after_fields="</div>" %}
          {% endif %}
          {% if 'localdistricts' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.districtprecinct field_2=person.districtborough field_3=person.districtmagisterial before_fields="<div>" between_fields="</div><div>"  after_fields="</div>"            %}
          {% endif %}
          {% if 'statedistricts' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.districtstatehouse field_2=person.districtstatesenate field_3=person.districtcongress before_fields="<div>" between_fields="</div><div>"  after_fields="</div>"            %}
          {% endif %}
          {% if 'phones' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field="<div>"|add:person.primary_voice|add:"</div><div>"|add:person.primary_text|add:"</div>"|safe %}
          {% endif %}
          {% if 'primary_email' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.primary_email %}
          {% endif %}
          {% if 'memberships' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.get_memberships_as_divs|safe %}
          {% endif %}
          {% if 'attendance' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.get_attendance %}
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
  <div>Listed: {{ list_count }}; All Members: {{ count_all_members }}; All Quorum Members: {{ count_all_quorum_members }}; All Pending Members: {{ count_all_pending_members }}</div>

<!-- csv -->
 <script>
  const listRows=[
    {% for person in filter.qs %}
      [
        {% if 'name' in show_columns or not show_columns %}
          "{{ person.name_formal|escape }}",
          "{{ person.name_friendly|escape }}",
        {% endif %}
        {% if 'membershipclass' in show_columns or not show_columns %}
          "{{ person.membershipclass|escape }}",
        {% endif %}
        {% if 'address' in show_columns or not show_columns %}
          "{{ person.voting_address|linebreaksbr|escape }}".replace("<br>"," "), "{{ person.mailing_address|linebreaksbr|escape }}".replace("<br>"," "),
        {% endif %}
        {% if 'localdistricts' in show_columns or not show_columns %}
          "{{ person.districtprecinct|escape }}", "{{ person.districtborough|escape }}", "{{ person.districtmagisterial|escape }}",
        {% endif %}
        {% if 'statedistricts' in show_columns or not show_columns %}
          "{{ person.districtstatehouse|escape }}",  "{{ person.districtstatesenate|escape }}", "{{ person.districtcongress|escape }}",
        {% endif %}
        {% if 'phones' in show_columns or not show_columns %}
          "{{ person.primary_voice|escape }}", "{{ person.primary_text|escape }}",
        {% endif %}
        {% if 'primary_email' in show_columns or not show_columns %}
          "{{ person.primary_email|escape }}",
        {% endif %}
        {% if 'memberships' in show_columns or not show_columns %}
          "{{ person.get_memberships_as_divs|safe|escape }}",
        {% endif %}
        {% if 'attendance' in show_columns or not show_columns %}
          "{{ person.get_attendance|escape }}",
        {% endif %}
      ],
      {% endfor %}

    ]

  let emailList="{% for person in filter.qs %}{% if person.primary_email %}{{ person.name_formal }} <{{ person.primary_email }}>, {% endif %}{% endfor %}"
  let noemails="{% for person in filter.qs %}{% if not person.primary_email %}{{ person.name_formal }} , {% endif %}{% endfor %}"

  function exportCSV () {
    let csvContent = "";
    listRows.forEach(function(eachRow) {
      let csvRow = eachRow.join(", ")
      csvContent += csvRow + "\r\n"
    })
    const blob = new Blob([csvContent], {type: 'text/csv'})
    const url = URL.createObjectURL(blob);

    window.open(url, '_blank')
  }

  function exportEmailList() {
    let emailtemplate = window.open("{% url 'sdc_people:email-js-popup' %}", '_blank')

    emailtemplate.window.addEventListener('load', function() {
      emailtemplate.document.getElementById("ctl_emails").innerText=emailList
      if ( noemails > "" ) {
        emailtemplate.document.getElementById("div_noemails").innerText="no emails for: " + noemails
      }
    })
  }


  document.querySelectorAll('[data-function="csv"]').forEach(function(item) {
    item.addEventListener('click',function(e) {
      e.preventDefault
      exportCSV()
  })})
  document.querySelectorAll('[data-function="emaillist"]').forEach(function(item) {
    item.addEventListener('click',function(e) {
      e.preventDefault
      exportEmailList()
  })})



</script>

</div>

<!-- /csv -->


{% include './person_menu.html' %}
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  {% if make_csv %}
  <script>
    var frm_filter = document.getElementById("frm_filter")
    frm_filter.action="{% url 'sdc_people:person-csv' %}"
    frm_filter.submit()
    frm_filter.action=""
  </script>
  {% endif %}
{% endblock %}
