{% extends './_base.html' %}
{% load static %}
{% block content %}
{% include './person_menu.html' %}

<div id = "div_search_form">
  <table>
    <form method="POST">
      {% csrf_token %}
      {{ filter.form.as_table }}
      {{ as_csv.as_table }}
      {{ filterstore_save.as_table }}
      <tr><td>Search </td><td><input type="submit" />Search</td></tr>
    </form>
    <form method="GET" action="{% url 'sdc_people:person-list' %}">
      {{ filterstore_retrieve.as_table }}
      <tr><td>Get Saved Filter </td><td><input type="submit" />Retrieve</td></tr>
    </form>
  </table>
</div>
<div>
  <a id="a_showhideSearchForm" href="#"></a>
</div>
<script>
  function showhideSearchForm() {
    var div_searchForm = document.getElementById("div_search_form")
    if(div_searchForm.style.display=="none") {
      div_searchForm.style.display="block"
      a_showhideSearchForm.innerText="Hide Search Form"
    } else {
      div_searchForm.style.display="none"
      a_showhideSearchForm.innerText="Show Search Form"
    }
  }
  var a_showhideSearchForm = document.getElementById("a_showhideSearchForm")
  a_showhideSearchForm.addEventListener("click", function(e) {
    e.preventDefault()
    showhideSearchForm()
  })
  showhideSearchForm()
</script>
<div class="list">
      <div class="row rowhead">
        {% include 'touglates/list_head.html' with field='' %}
        {% if 'name' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Name" %}
        {% endif %}
        {% if 'membershipclass' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="membership class" %}
        {% endif %}
        {% if 'localdistricts' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="local districts<br>(prec,boro)" %}
        {% endif %}
        {% if 'statedistricts' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="state districts<br>(hod,ssen,usc)"|safe %}
        {% endif %}
        {% if 'p  hones' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Phones(voice,txt)" %}
        {% endif %}
        {% if 'primary_email' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="email" %}
        {% endif %}
        {% if 'attendance' in show_columns or not show_columns %}
          {% include 'touglates/list_head.html' with field="Attendance" %}
        {% endif %}

      </div>

      {% for person in filter.qs %}
        <div class="row">
          <div class="list-field field column">
            <div><a href="{% url 'sdc_people:person-detail' person.pk %}">view</a></div>
            <div><a href="{% url 'sdc_people:person-update' person.pk %}">edit</a></div>
          </div>
          {% if 'name' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.name_formal|add:"("|add:person.name_friendly|add:")" %}
          {% endif %}
          {% if 'membershipclass' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.membershipclass %}
          {% endif %}
          {% if 'localdistricts' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.districtprecinct field_2=person.districtborough field_3=person.districtmagisterial before_fields="<div>" between_fields="</div><div>"  after_fields="</div>"            %}
          {% endif %}
          {% if 'statedistricts' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.districtstatehouse field_2=person.districtstatesenate field_3=person.districtcongress before_fields="<div>" between_fields="</div><div>"  after_fields="</div>"            %}
          {% endif %}
          {% if 'phones' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field="<div>"|add:person.primary_voice|add:"</div><div>"|add:person.primary_text|add:"</div>"|safe %}
          {% endif %}
          {% if 'primary_email' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.primary_email %}
          {% endif %}
          {% if 'attendance' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=person.get_attendance %}
          {% endif %}

        </div>
      {% endfor %}
      <div>Count: {{ count }}</div>

    </div>
  </div>

{% include './person_menu.html' %}
{% endblock %}
{% block bottomscript %}
  {{ block.super }}

{% endblock %}
