{% load touglates_tags %}
  <div class="form">
    {{ form.errors }}
    <form id="form_person" method="POST" ENCTYPE="multipart/form-data">
    {% csrf_token %}
    {% include 'touglates/form_field.html' with field=form.name_formal %}
    {% include 'touglates/form_field.html' with field=form.name_first %}
    {% include 'touglates/form_field.html' with field=form.name_middles %}
    {% include 'touglates/form_field.html' with field=form.name_last %}
    {% include 'touglates/form_field.html' with field=form.name_friendly %}
    {% include 'touglates/form_field.html' with field=form.membershipclass %}
    {% include 'touglates/form_field.html' with field=form.membership_date %}
    {% include 'touglates/form_field.html' with field=form.districtprecinct %}
    {% include 'touglates/form_field.html' with field=form.districtborough %}
    {% include 'touglates/form_field.html' with field=form.districtstatehouse %}
    {% include 'touglates/form_field.html' with field=form.districtstatesenate %}
    {% include 'touglates/form_field.html' with field=form.districtcongress %}
    {% include 'touglates/form_field.html' with field=form.primary_voice %}
    {% include 'touglates/form_field.html' with field=form.primary_text %}
    {% include 'touglates/form_field.html' with field=form.primary_email %}
    {% include 'touglates/form_field.html' with field=form.voting_address %}
    {% include 'touglates/form_field.html' with field=form.mailing_address %}
    {% include 'touglates/form_field.html' with field=form.dues_next %}
    {% include 'touglates/form_field.html' with field=form.demog_is_veteran %}

    <h3>Subcommittee Membership</h3>

    {{ submemberships.management_form }}
    {% if submemberships.errors %}{{ submemberships.errors }}{% endif %}
    {% for submembershipform in submemberships.forms %}
      {% if submembershipsform.errors %}{{ submembershipform.errors }}{% endif %}
        {% if submembershipform.id.value  %}
          <div id="div_submembership_value_{{ forloop.counter }}" class="submembership_value formset_value"  >
            {% comment %}{% with button_html='<button id="button_showform_submembership_'|concate:forloop.counter|concate:'" class="show_formsetform" data-formsetform="div_submembershipform_'|concate:forloop.counter|concate:'">edit</button>'|safe %}{% endcomment %}
            {% with delete_html='<span class="formset_delete" id="ctl_delete_submembership_'|concate:forloop.counter|concate:'" class="delete_formsetform" data-formsetform="div_submembershipform_'|concate:forloop.counter|concate:'">'|concate:submembershipform.DELETE|concate:'</span>'|safe %}
             {% include 'touglates/list_fields.html' with before_fields="<label>Membership: </label>"|safe field_1=submembershipform.instance.subposition after_fields=delete_html %}
            {% endwith %}
          </div>
          <div id="div_submembershipform_{{ forloop.counter }}" class="submembership_formsetform formsetform"  >
            {% for hiddenfield in submembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=submembershipform.subposition %}
            {% include 'touglates/form_field.html' with field=submembershipform.DELETE %}
          </div>
        {% else %}
          <div id="div_submembershipform_{{ forloop.counter }}" class="submembership_formsetform submembership_formsetnewform formsetform formsetnewform"  >
            {% for hiddenfield in submembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=submembershipform.subposition %}
            {% include 'touglates/form_field.html' with field=submembershipform.DELETE %}
          </div>
        {% endif %}
        
    {% endfor %}

        {% with button_html='<button id="button_showform_submembership_new" class="show_newformsetform" data-formsetform="submembership_formsetnewform">add</button>'|safe %}
            {% include 'touglates/list_fields.html' with field_1_label="New Membership: " field_1=button_html %}
        {% endwith %}

    <h3>Links</h3>

    {{ linkexternals.management_form }}
    {% if linkexternals.errors %}{{ linkexternals.errors }}{% endif %}
    {% for linkexternalform in linkexternals.forms %}
      {% if linkexternalsform.errors %}{{ linkexternalform.errors }}{% endif %}
        {% if linkexternalform.id.value  %}
          <div id="div_linkexternal_value_{{ forloop.counter }}" class="linkexternal_value formset_value"  >
            {% with url_tag='<a href="'|concate:linkexternalform.instance.url|concate:'">'|concate:linkexternalform.instance.url|concate:'</a>'|safe %}
            {% comment %}{% with button_html='<button id="button_showform_linkexternal_'|concate:forloop.counter|concate:'" class="show_formsetform" data-formsetform="div_linkexternalform_'|concate:forloop.counter|concate:'">edit</button>'|safe %}{% endcomment %}
            {% with delete_html='<span class="formset_delete" id="ctl_delete_linkexternal_'|concate:forloop.counter|concate:'" class="delete_formsetform" data-formsetform="div_linkexternalform_'|concate:forloop.counter|concate:'">'|concate:linkexternalform.DELETE|concate:'</span>'|safe %}
             {% include 'touglates/list_fields.html' with before_fields="<label>Link: </label>"|safe field_1_label="type" field_1=linkexternalform.instance.linkexternaltype field_2=url_tag after_fields=delete_html %}
            {% endwith %}
            {% endwith %}
          </div>
          <div id="div_linkexternalform_{{ forloop.counter }}" class="linkexternal_formsetform formsetform"  >
            {% for hiddenfield in linkexternalform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=linkexternalform.linkexternaltype %}
            {% include 'touglates/form_field.html' with field=linkexternalform.url %}
            {% include 'touglates/form_field.html' with field=linkexternalform.DELETE %}
          </div>
        {% else %}
          <div id="div_linkexternalform_{{ forloop.counter }}" class="linkexternal_formsetform linkexternal_formsetnewform formsetform formsetnewform"  >
            {% for hiddenfield in linkexternalform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=linkexternalform.linkexternaltype %}
            {% include 'touglates/form_field.html' with field=linkexternalform.url %}
            {% include 'touglates/form_field.html' with field=linkexternalform.DELETE %}
          </div>
        {% endif %}
        
    {% endfor %}

        {% with button_html='<button id="button_showform_linkexternal_new" class="show_newformsetform" data-formsetform="linkexternal_formsetnewform">add</button>'|safe %}
            {% include 'touglates/list_fields.html' with field_1_label="New Link: " field_1=button_html %}
        {% endwith %}


    <h3>Images</h3>

    {{ images.management_form }}
    {% if images.errors %}{{ images.errors }}{% endif %}
    {% for imageform in images.forms %}
      {% if imagesform.errors %}{{ imageform.errors }}{% endif %}
        {% if imageform.id.value  %}
          <div id="div_image_value_{{ forloop.counter }}" class="image_value formset_value"  >
            {% with image_tag='<a href="'|concate:imageform.instance.imagefile.url|concate:'">'|concate:imageform.instance.imagefile.url|concate:'</a>'|safe %}
            {% comment %}{% with button_html='<button id="button_showform_image_'|concate:forloop.counter|concate:'" class="show_formsetform" data-formsetform="div_imageform_'|concate:forloop.counter|concate:'">edit</button>'|safe %}{% endcomment %}
            {% with delete_html='<span class="formset_delete" id="ctl_delete_image_'|concate:forloop.counter|concate:'" class="delete_formsetform" data-formsetform="div_imageform_'|concate:forloop.counter|concate:'">'|concate:imageform.DELETE|concate:'</span>'|safe %}
             {% include 'touglates/list_fields.html' with before_fields="<label>Link: </label>"|safe field_1=imageform.instance.imagetype field_2=image_tag after_fields=delete_html %}
            {% endwith %}
            {% endwith %}
          </div>
          <div id="div_imageform_{{ forloop.counter }}" class="image_formsetform formsetform"  >
            {% for hiddenfield in imageform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=imageform.imagetype %}
            {% include 'touglates/form_field.html' with field=imageform.imagefile %}
            {% include 'touglates/form_field.html' with field=imageform.DELETE %}
          </div>
        {% else %}
          <div id="div_imageform_{{ forloop.counter }}" class="image_formsetform image_formsetnewform formsetform formsetnewform"  >
            {% for hiddenfield in imageform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=imageform.imagetype %}
            {% include 'touglates/form_field.html' with field=imageform.imagefile %}
            {% include 'touglates/form_field.html' with field=imageform.DELETE %}
          </div>
        {% endif %}
        
    {% endfor %}

        {% with button_html='<button id="button_showform_image_new" class="show_newformsetform" data-formsetform="image_formsetnewform">add</button>'|safe %}
            {% include 'touglates/list_fields.html' with field_1_label="New Image: " field_1=button_html %}
        {% endwith %}

    <h3>Attendance</h3>

    {{ attendances.management_form }}
    {% if attendances.errors %}{{ attendances.errors }}{% endif %}
    {% for attendanceform in attendances.forms %}
      {% if attendancesform.errors %}{{ attendanceform.errors }}{% endif %}
        {% if attendanceform.id.value  %}
          <div id="div_attendance_value_{{ forloop.counter }}" class="attendance_value formset_value"  >
         {% comment %}{% with button_html='<button id="button_showform_attendance_'|concate:forloop.counter|concate:'" class="show_formsetform" data-formsetform="div_attendanceform_'|concate:forloop.counter|concate:'">edit</button>'|safe %}{% endcomment %}
         {% with delete_html='<span class="formset_delete" id="ctl_delete_attendance_'|concate:forloop.counter|concate:'" class="delete_formsetform" data-formsetform="div_attendanceform_'|concate:forloop.counter|concate:'">'|concate:attendanceform.DELETE|concate:'</span>'|safe %}
             {% include 'touglates/list_fields.html' with before_fields="<label>Attended: </label>"|safe field_1=attendanceform.instance.meeting after_fields=delete_html %}
         {% endwith %}
         {% comment %}{% endwith %}{% endcomment %}
          </div>
          <div id="div_attendanceform_{{ forloop.counter }}" class="attendance_formsetform formsetform"  >
            {% for hiddenfield in attendanceform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=attendanceform.meeting %}
{% comment %}            {% include 'touglates/form_field.html' with field=attendanceform.DELETE %}{% endcomment %}
          </div>
        {% else %}
          <div id="div_attendanceform_{{ forloop.counter }}" class="attendance_formsetform attendance_formsetnewform formsetform formsetnewform"  >
            {% for hiddenfield in attendanceform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=attendanceform.meeting %}
            {% include 'touglates/form_field.html' with field=attendanceform.DELETE %}
          </div>
        {% endif %}
        
    {% endfor %}

        {% with button_html='<button id="button_showform_attendance_new" class="show_newformsetform" data-formsetform="attendance_formsetnewform">add</button>'|safe %}
            {% include 'touglates/list_fields.html' with field_1_label="New attendance: " field_1=button_html %}
        {% endwith %}


<h3>Notes</h3>

    {{ personnotes.management_form }}
    {% if personnotes.errors %}{{ personnotes.errors }}{% endif %}
    {% for personnoteform in personnotes.forms %}
      {% if personnotesform.errors %}{{ personnoteform.errors }}{% endif %}
        {% if personnoteform.id.value  %}
          <div id="div_personnote_value_{{ forloop.counter }}" class="personnote_value formset_value"  >
            {% comment %}{% with button_html='<button id="button_showform_personnote_'|concate:forloop.counter|concate:'" class="show_formsetform" data-formsetform="div_personnoteform_'|concate:forloop.counter|concate:'">edit</button>'|safe %}{% endcomment %}
            {% with delete_html='<span class="formset_delete" id="ctl_delete_personnote_'|concate:forloop.counter|concate:'" class="delete_formsetform" data-formsetform="div_personnoteform_'|concate:forloop.counter|concate:'">'|concate:personnoteform.DELETE|concate:'</span>'|safe %}
            {% include 'touglates/list_fields.html' with before_fields='<label>Note: </label>'|safe field_1_label="type of note" field_1=personnoteform.instance.personnotetype field_2=personnoteform.instance.when field_4=personnoteform.instance.content after_fields=delete_html %}
            {% endwith %}
          </div>
          <div id="div_personnoteform_{{ forloop.counter }}" class="personnote_formsetform formsetform"  >
            {% for hiddenfield in personnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=personnoteform.personnotetype %}
            {% include 'touglates/form_field.html' with field=personnoteform.when %}
            {% include 'touglates/form_field.html' with field=personnoteform.content %}
            {% include 'touglates/form_field.html' with field=personnoteform.is_flagged %}
            {% include 'touglates/form_field.html' with field=personnoteform.DELETE %}
          </div>
        {% else %}
          <div id="div_personnoteform_{{ forloop.counter }}" class="personnote_formsetform personnote_formsetnewform formsetform formsetnewform"  >
            {% for hiddenfield in personnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=personnoteform.personnotetype %}
            {% include 'touglates/form_field.html' with field=personnoteform.when %}
            {% include 'touglates/form_field.html' with field=personnoteform.content %}
            {% include 'touglates/form_field.html' with field=personnoteform.is_flagged %}
            {% include 'touglates/form_field.html' with field=personnoteform.DELETE %}
          </div>
        {% endif %}
        
    {% endfor %}

        {% with button_html='<button id="button_showform_personnote_new" class="show_newformsetform" data-formsetform="personnote_formsetnewform">add</button>'|safe %}
            {% include 'touglates/list_fields.html' with field_1_label="New note: " field_1=button_html %}
        {% endwith %}
  

  {% include 'touglates/form_field.html' with label_tag="Submit Changes" field="<button type='submit'>Submit</button>" %}

    </form>
  </div>

    <script>
      function parse_name(name_formal) {
        known_prefixes = ["captain","cdr","chief","cpo","capt","hon","lt","master","miss","mr","mrs","mx","rev","sgt","sir",]
        known_preprefixes = ["her","his","the","their"]
        known_suffixes = ["esq","esquire","ii","iii","iv", "v", "vi", "vii", "viii", "ix","x","jr","phe","phd","sr"]
        names = name_formal.trim().split(" ")
        var parsed_name={}
        parsed_name["prefix"] = ""
        parsed_name["first"] = ""
        parsed_name["middles"] = ""
        parsed_name["last"] = ""
        parsed_name["suffix"]=""

        if(names.length > 0) {
          while(names[names.length-1].includes(".") || known_suffixes.includes(names[names.length-1].toLowerCase())) {
            parsed_name["suffix"] = parsed_name["suffix"] + names.splice(-1,1) + " "
          }
        }
        parsed_name["suffix"] = parsed_name["suffix"].trim()

        if(names.length > 0) {
          parsed_name["last"] = names.splice(-1,1)
        }
        if(names.length > 1) {
          if(known_preprefixes.includes(names[0].toLowerCase())) {
            parsed_name["prefix"] = names.splice(0,2).join(" ")
          }
         }

         if(parsed_name["prefix"] == "" && names.length > 0 ) {
            if(names[0].includes(".") || known_prefixes.includes(names[0].toLowerCase())) {
              parsed_name["prefix"] = names.splice(0,1)
          }
        }

        parsed_name["first"] = names.splice(0,1)

				parsed_name["middles"] = names.join(" ")

        return parsed_name

      }

      name_formal = document.getElementById("id_name_formal")
      name_friendly = document.getElementById("id_name_friendly")

      name_parts=["prefix","first","middles","last","suffix"]

      var name_elements = {}
      for ( name_part of name_parts) {
        name_elements[name_part] = document.getElementById("id_name_" + name_part )
      }

      name_formal.addEventListener("change", function() {
        parsed_name = parse_name(name_formal.value)
        for (name_part of name_parts) {
          if (name_elements[name_part] !== null ) {
            if( name_elements[name_part].value == "" ) {
              name_elements[name_part].value = parsed_name[name_part]
            }
          }
        }
        if (name_friendly !== null ) {
          if( name_friendly.value == "" ) {
            name_friendly.value = parsed_name["first"]
          }
        }

      });
    </script>
    <script>
      var voting_address=document.getElementById("id_voting_address")
      var mailing_address=document.getElementById("id_mailing_address")
      voting_address.addEventListener("change", function(){
        if (mailing_address.value == "") {
          mailing_address.value = voting_address.value
        }
      })

    </script>
    <script>
      for(districttype of ["precinct", "borough"]) {
        var district=document.getElementById("id_district" + districttype)
        var pl = district.options.length
        for(p=0; p<pl; p++) {
          matches = district.options[p].innerText.match(/(\d+)\s(\w+.*)$/)
          if(matches) {
            var newOption = document.createElement('option')
            newOption.value =district.options[p].value
            newOption.innerText =matches[2] + '(' + matches[1] + ')'
            district.appendChild(newOption)
          }
        }
      }
      </script>
      <script>

        function getControlIdsForPopups(modelName) {
          controlIds={
            'DistrictBorough': ['id_districtborough'],
            'DistrictPrecinct': ['id_districtprecinct'],
          }
          return controlIds[modelName]
        }

      </script>

    <script>
      activateFormsetControls()
    </script>
