<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_subcommittee %}
      {% if 'subcommittee-list' == request.resolver_match.url_name %}
        <div class="menu-subcommittee menu-here">
            <a href="{% url 'sdc_people:subcommittee-list' %}">List</a>
        </div>
      {% else %}
        <div class="menu-subcommittee">
          <a href="{% url 'sdc_people:subcommittee-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_subcommittee %}
      {% if 'subcommittee-detail' == request.resolver_match.url_name %}
        <div class="menu-subcommittee menu-here">
            <a href="{% url 'sdc_people:subcommittee-detail' object.pk %}">View</a>
        </div>
      {% elif object.pk %}
        <div class="menu-subcommittee">
          <a href="{% url 'sdc_people:subcommittee-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_subcommittee %}
      {% if 'subcommittee-create' == request.resolver_match.url_name %}
        <div class="menu-subcommittee menu-here">
            <a href="{% url 'sdc_people:subcommittee-create' %}">Add</a>
        </div>

      {% else %}
        <div class="menu-subcommittee">
          <a href="{% url 'sdc_people:subcommittee-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_subcommittee %}
      {% if 'subcommittee-update' == request.resolver_match.url_name %}
        <div class="menu-subcommittee menu-here">
            <a href="{% url 'sdc_people:subcommittee-update' object.pk %}">Edit</a>
        </div>

      {% elif object.pk %}
        <div class="menu-subcommittee">
          <a href="{% url 'sdc_people:subcommittee-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
